.block {
    padding: 20px;
}

.block {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
}

.info {
    width: 90%;
    display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr;
    padding: 0 20px;
}

.item {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
    border-bottom: 2px solid #00e600;
    z-index: -1;
}

.text {
    margin: 5px 0;
    font-style: italic;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.edit {
    background: #00e600;
    border-radius: 10px;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading {
    display: block;
    margin: 30px auto;
    border: 10px solid #0C4492;
    border-top: 10px solid #00e600;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: loading .5s linear infinite;
    cursor: default;
}

@media screen and (max-width: 650px) {
    .info {
        display: flex;
        flex-direction: column;
    }
}